body{
  background-color:#FDF5E6 ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#cabecalho{
  display: flex;
  height: 91px;
  margin: 0px;
  background-color: #F86434;
}
#person{
 width: 83px;
 position: relative;
 left: 87%;
}
#logo{
  margin-left:-13px;
}

ul{
  float: left;
  position: relative;
  left: 8%;
  
}
ul li{
  display: block;
  float: left;
  padding: 4px 25px;
  border-radius: 999px;
  margin-right: 12px;
  left: 2%;
  position: relative;
  background-color: #16639E ;
}

ul a{
  color: azure;
  text-decoration: none;
}

ul li:hover{
  background-color: #349FF1;
}
ul a:hover{
color: white;
}
#insta{
  margin-top: 100px;
  position: relative;
  left: 44%;
  text-align: center;
  display: block;
  width: 150px;
  font-weight: bold;
}


/* INICIO MAPS */
#maps{
  position: relative;
  top: 90px;
  left: 50%;
  width:300px;
  height: 400px;
}
.visita{
  position: relative;
 right: 50%;
 top: 100px;
}

#email{
  position: relative;
  left: 25%;
  top: 90px;
}
.rodape{
  background-repeat: no-repeat;
  margin-top: 50px;
  background-color: #0091b6 ;
  background-image: url(imagens/teste.png);
  margin-bottom: -5%;
}
#localizacao{
  border-radius: 5px;
  margin-top: 7px;
}
.icones{
  color: black;
  font-size: 30px;
}

.lado{
  float: left;
  display: block;
}

#capa{
  height: auto;
  /* padding: 0%; */
  margin-top: 30px;
  /* width: 100%; */
  max-width: 100%;
}

#texto{ 
  padding: 20px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
  /* z-index: 2;
  position: absolute;
  left: 50%;
  top: 25%; */
  /* width: 585px;
  height: 231px; */
  border-radius: 18px;
  background: rgba(0, 100, 177, 0.90);
}

/* @media (max-width: 576px){
  .texto-inicial{
    display: none;
  }
} */



@media (max-width: 576px){
  #capa {
    width: 100% ;
  }
}